body {
        background-color: rgb(255, 255, 255);
        font-family: Tahoma, Geneva, sans-serif;
        

        color: #000000;
        font-weight: normal;
        text-decoration: none;
        font-style: normal;
        font-variant: normal;
        text-transform: none;
}

.container {
    max-width: 735px;
    margin-left: 15%;   /* pushes content to the right */
    margin-right: 35%;  /* adds more whitespace on the right side */
    padding-left: 37px;
    padding-right: 10px;
    text-align: justify;
    text-justify: inter-word;
}


.row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 10px;
}
  
.column {
      flex: 1;
      padding: 5px;
}
  
.column img {
      display: block;
      width: 100%;
      height: auto;
      max-height: 245px; 
}
  
.protip {
      font-size: 14px;
}


