body {
        background-color: white;
        font-family: Tahoma, Geneva, sans-serif;
        

        color: #000000;
        font-weight: normal;
        text-decoration: none;
        font-style: normal;
        font-variant: normal;
        text-transform: none;
}

div{
      margin-left: 25%;
      margin-top: 0px;
      margin-right: 25%;
      text-align: justify;
}

